*{
    margin: auto;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.banner-title{
    color: #FFF;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding: 120px
}
.banner-title > .banner-text{
    font-weight:normal;
    font-size: 30px;
    font-weight: 400;
}
.header{
    width: 69%;
    height: 600px;
    flex-shrink: 0;
    border-radius: 30px;
    background-image: linear-gradient(#070211);
    background-image: url('../Banner\ Image.png');
    background-blend-mode: multiply;
    border-style: solid;
}
#featured{
    text-align: center; 
    font-style: normal;
    background-color: #FFF;
    margin: 70px auto 70px auto;
}
.color-red{
    color:#F00;
    font-size: 88px;
    font-weight: 700;
}
.Color-two{
    color: #F00;
    font-weight: 500;
    font-size: 24px;
    padding-top: 50px;
}
.color-three{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    padding: 5px;
    padding-bottom: 50px
}
#banner-two{
    background-image: url('../Vectorrr.png');
    width: 69%;
    border-radius: 30px;
    display: flex;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
}
.test-style{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 7.04px;
}
.test-style-two{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.butt{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;

}
.Photo-one{
    width: 319.83px;
    height: 464.662px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


























